[package]
name = "sandvox"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy_ecs = { version = "0.17.3", default-features = false, features = [
    "bevy_reflect",
    "trace",
    "multi_threaded",
] }
bevy_reflect = { version = "0.17.3", default-features = false, features = [
    "auto_register",
    "auto_register_inventory",
    "std",
] }
bevy_tasks = { version = "0.17.3", default-features = false, features = [
    "multi_threaded",
] }
bevy_utils = { version = "0.17.3", default-features = false, features = [
    "parallel",
    "std",
] }
bytemuck = "1.24.0"
clap = { version = "4.5.54", features = ["derive"] }
color-eyre = "0.6.5"
dotenvy = "0.15.7"
image = "0.25.9"
morton-encoding = "2.0.1"
nalgebra = { version = "0.34.1", features = ["bytemuck", "serde-serialize"] }
noise = "0.9.0"
palette = { version = "0.7.6", features = ["bytemuck", "named", "serializing"] }
parking_lot = "0.12.5"
pollster = "0.4.0"
serde = { version = "1.0.228", features = ["derive"] }
thiserror = "2.0.17"
tracing = "0.1.44"
tracing-subscriber = "0.3.22"
wgpu = "28.0.0"
winit = "0.30.12"
